<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Ageism: {% block title %}{% endblock %}</title>

</head>

<body class="bg-black text-white">

    <header class="text-black bg-green-300 body-font">
        <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row ">
            <nav class="flex flex-wrap items-center justify-center text-base ">
                <a href="#" class="mr-5 text-sm font-semibold hover:text-gray-300">Home</a>
                <a href="#" class="mr-5 text-sm font-semibold hover:text-gray-300">What is it?</a>
                <a href="#" class="mr-5 text-sm font-semibold hover:text-gray-300">Why should I care?</a>
                <a href="#" class="mr-5 text-sm font-semibold hover:text-gray-300">How can I help?</a>
            </nav>
            </a>
            <button
                class="items-center px-8 py-3 mt-4 font-semibold text-blue-700 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:inline-flex lg:ml-auto lg:mt-px hover:border-blue-700 hover:text-white focus:ring focus:outline-none bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500">Take The Pledge
            </button>
        </div>
    </header>
    <div class="container w-full p-20 m-4 mx-auto my-16 text-center bg-black h-96 rounded-xl">
        {% block main %}{% endblock %}

    </div>

</body>

</html>