<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Ageism: {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
    <link href="/static/scroll.css" rel="stylesheet">

    <link href="/static/styles.css" rel="stylesheet">

</head>

<body class="bg-black text-white">

    <header class="text-black bg-green-300 body-font">
        <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row ">
            <nav class="flex flex-wrap items-center justify-center text-base ">
                <a href="./" class="mr-5 text-sm font-semibold hover:text-gray-300">Home</a>
                <a href="./what-is-it" class="mr-5 text-sm font-semibold hover:text-gray-300">What is it?</a>
                <a href="./why-care" class="mr-5 text-sm font-semibold hover:text-gray-300">Why should I care?</a>
                <a href="./how-help" class="mr-5 text-sm font-semibold hover:text-gray-300">How can I help?</a>
            </nav>
            </a>
            <button type="button" onclick="location.href='./pledge'"
                class="items-center px-8 py-3 mt-4 font-semibold text-blue-700 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:inline-flex lg:ml-auto lg:mt-px hover:border-blue-700 hover:text-white focus:ring focus:outline-none bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500">Take The Pledge
            </button>
        </div>
    </header>
    <div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16" style="margin-left:50%;margin-top:5%">
        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
      </svg>
    </div>
        {% block main %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js">
        </script>
        <script src="./static/fadein.js"> </script>
</body>

</html>