{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<body class="main" style="background-color: rgb(0, 0, 0);">
  <div class="topnav" id="header">

  </div>


  <div class="top-parallax"></div>

  <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg" style="padding-left: 50%;">
    <path fill-rule="evenodd"
      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
  </svg>
  <section>
    <h1 style="text-align: center; font-size: 100px; font-family: 'Josefin Sans', sans-serif; color:white;">Ageism Is A Real Problem
    </h1>
  </section>
  <section>
    <h1 style="font-size: 70px; font-family: 'Krona One', sans-serif; background:
      -webkit-linear-gradient(10deg,#2980B9,#6DD5FA, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; text-align: center;">
      It Needs To Be Addressed Now</h1>
  </section>

  <section class="text1" style="height: 350px; background-color: rgb(5, 5, 5); padding-top: 50px; padding-left:5%;">
    <h1 style="font-family: 'Roboto', sans-serif; font-size: 60px;color:white;">About Ageism</h1>
    <h3 style="font-family: 'Roboto', sans-serif; font-size: 40px; color:white;">A Basic overview of what ageism truly is</h3>
    <a href="./what-is-it" style="text-decoration: none;">
      <h3 style="font-family: 'Bebas Neue', cursive; font-size: 50px;  background:
      -webkit-linear-gradient(10deg,#43C6AC, #F8FFAE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">TAKE ME THERE<svg width="1em" height="0.75em" viewBox="0 0 16 16"
          class="bi bi-chevron-compact-right" fill=#00e6ac xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
        </svg></h3>
    </a>
  </section>
  <section class="text1"
    style="height: 350px; background-color: rgb(5, 5, 5); text-align: right; padding-right: 5%;">
    <h1 style="font-family: 'Roboto', sans-serif; font-size: 60px;color: white;;">How does this affect me?</h1>
    <h3 style="font-family: 'Roboto', sans-serif; font-size: 40px;color:white;">Here's why you should care</h3>
    <a href="./why.html" style="text-decoration: none;">
      <h3 style="font-family: 'Bebas Neue', cursive; font-size: 50px;  background:
      -webkit-linear-gradient(10deg,#009FFF, #ec2F4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">TAKE ME THERE<svg width="1em" height="0.75em" viewBox="0 0 16 16"
          class="bi bi-chevron-compact-right" fill=#ec2F4B xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
        </svg></h3>
    </a>
  </section>
  <section class="text1" style="height: 350px; background-color: rgb(5, 5, 5); padding-top: 50px; padding-left:5%;">
    <h1 style="font-family: 'Roboto', sans-serif; font-size: 60px;color:white;">How can I help?</h1>
    <h3 style="font-family: 'Roboto', sans-serif; font-size: 40px; color:white;">Find out how to eradicate ageism</h3>
    <a href="./how.html" style="text-decoration: none;">
      <h3 style="font-family: 'Bebas Neue', cursive; font-size: 50px;  background:
      -webkit-linear-gradient(10deg,#fe8c00, #f83600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">TAKE ME THERE<svg width="1em" height="0.75em" viewBox="0 0 16 16"
          class="bi bi-chevron-compact-right" fill=#fe8c03 xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
        </svg></h3>
    </a>

    <a href="https://discord.com/" style="text-decoration: none;">
      <h3 style="font-family: 'Bebas Neue', cursive; font-size: 50px;  background:
      -webkit-linear-gradient(10deg,#4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">TAKE THE PLEDGE<svg width="1em" height="0.75em" viewBox="0 0 16 16"
          class="bi bi-chevron-compact-right" fill=#fe8c03 xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
        </svg></h3>
    </a>
  </section>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js">
  </script>
  <script src="./static/fadein.js"> </script>
{% endblock %}